<nav class="navbar">
  <div class="navbar-container">
    <a class="navbar-brand">ProyectoP2</a>
    <button class="navbar-toggler" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse" [ngClass]="{ show: isNavbarCollapsed }">
      <ul class="navbar-.product-list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
      }
      
      .card {
        width: 200px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 15px;
        box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
      }
      nav">
        <li class="nav-item">
          <a
            routerLink="/productos"
            class="nav-link"
            routerLinkActive="active-link"
            >Productos</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLink="/user"
            class="nav-link"
            routerLinkActive="active-link"
            >Users</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
