/* Centrar el mat-card en la página */
:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Estilo para el mat-card */
  mat-card {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilo para el formulario */
  form {
    display: flex;
    flex-direction: column;
  }
  
  /* Estilo para los campos de formulario */
  mat-form-field {
    margin-bottom: 16px;
  }
  
  /* Estilo para el botón */
  button {
    align-self: center;
    margin-top: 16px;
  }
  