<mat-card>
    <mat-card-title>Register</mat-card-title>
    <form [formGroup]="formGroup">
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Phone</mat-label>
        <input matInput formControlName="phone" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Role</mat-label>
        <input matInput formControlName="role" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required>
      </mat-form-field>
      <button mat-raised-button [disabled]="formGroup.invalid" (click)="save()">Aceptar</button>
    </form>
    <p>
      Already have an account? <a routerLink="/login">Login here</a>
    </p>
  </mat-card>
  