<div class="table-container">
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Categoría</th>
        <th>Descripción</th>
        <th class="numeric">Precio</th>
        <th class="numeric">Cantidad</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let object of productList">
        <td>{{ object.name }}</td>
        <td>{{ object.category }}</td>
        <td>{{ object.description }}</td>
        <td class="numeric">{{ object.price }}</td>
        <td class="numeric">{{ object.amount }}</td>
      </tr>
    </tbody>
  </table>
</div>
